<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéTCG || Get a random Pokémon Card</title>
    <link rel="icon" type="image/png" href="/images/pokeball.png"/>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav2">
            <div class="page-title">
                <div class="logo">
                    <a href="/"><img src="/images/pokeball.png" alt="website logo" width="40" class="website-logo"></a>
                </div>
                <div>
                    <h1>PokéTCG - Random Pokémon Cards</h1>
                </div>
            </div>
            <div>
                <div class="search-bar">
                <form action="/search" id="form" class="form" method="POST">
                    <input type="text" placeholder="Search" name="name" required>
                    <button type="submit" class="btn-card">Search</button>
                </form>
                </div>
            </div>
        </nav>
    </header>