<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéTCG || Get a random Pokémon Card</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <div>
                    <a href="/"><img src="/images/psyduck.png" alt="website logo" width="50" class="website-logo"></a>
                </div>
                <div>
                    <h2>PokéTCG - Random Pokémon Cards</h2>
                </div>
            </div>
        </nav>
    </header>